.card-wrap:hover {
  box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
	transform: translateY(-4px);
}
.caption-top {
  caption-side: top;
  color: black;
}

.col-so-4 {
  position: relative;
  width: 100%;
  margin-right: 15px;
  margin-left: 15px;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
